<div class="row-cols-1">
  <form class="row g-3" #laForm="ngForm">
    <div class="col-md-4">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        required
        #inputNome="ngModel"
        [(ngModel)]="form.nome"
        [ngClass]="{
          'is-invalid': inputNome.invalid && inputNome.dirty,
          'is-valid': inputNome.valid && inputNome.dirty
        }"
        pattern="^[A-Za-z\\s]{1,50}$"
      />
    </div>
    <div class="col-md-4">
      <label for="cognome" class="form-label">Cognome</label>
      <input
        type="text"
        class="form-control"
        id="cognome"
        name="cognome"
        required
        #inputCognome="ngModel"
        [(ngModel)]="form.cognome"
        [ngClass]="{
          'is-invalid': inputCognome.invalid && inputCognome.dirty,
          'is-valid': inputCognome.valid && inputCognome.dirty
        }"
        pattern="^[A-Za-z\\s]{1,50}$"
      />
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="validationServer03Feedback"
          required
          #inputEmail="ngModel"
          [(ngModel)]="form.email"
          [ngClass]="{
            'is-invalid': inputEmail.invalid && inputEmail.dirty,
            'is-valid': inputEmail.valid && inputEmail.dirty
          }"
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Email non valida
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="citta" class="form-label">Citta</label>
      <input
        type="text"
        class="form-control"
        id="citta"
        name="citta"
        aria-describedby="validationServer03Feedback"
        required
        #inputCitta="ngModel"
        [(ngModel)]="form.citta"
        [ngClass]="{
          'is-invalid': inputCitta.invalid && inputCitta.dirty,
          'is-valid': inputCitta.valid && inputCitta.dirty
        }"
        pattern="^[A-Za-z\\s]{1,50}$"
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Scegli una citta esistente
      </div>
    </div>
    <div class="col-md-3">
      <label for="stato" class="form-label">Stato</label>
      <input
        type="text"
        class="form-control"
        id="stato"
        name="stato"
        aria-describedby="validationServer04Feedback"
        required
        #inputStato="ngModel"
        [(ngModel)]="form.stato"
        [ngClass]="{
          'is-invalid': inputStato.invalid && inputStato.dirty,
          'is-valid': inputStato.valid && inputStato.dirty
        }"
        pattern="^[A-Za-z\\s]{1,50}$"
      />
      <div id="validationServer04Feedback" class="invalid-feedback">
        Scegli uno Stato esistente.
      </div>
    </div>
    <div class="col-md-3">
      <label for="cap" class="form-label">CAP</label>
      <input
        type="text"
        class="form-control"
        id="cap"
        name="cap"
        aria-describedby="validationServer05Feedback"
        required
        #inputCap="ngModel"
        [(ngModel)]="form.cap"
        [ngClass]="{
          'is-invalid': inputCap.invalid && inputCap.dirty,
          'is-valid': inputCap.valid && inputCap.dirty
        }"
        pattern="^[0-9]{5}"
      />
      <div id="validationServer05Feedback" class="invalid-feedback">
        Scegli un CAP valido.
      </div>
    </div>
    <div class="alert alert-dark w-50" role="alert">
      Proseguendo accetterai i nostri termini
      <a href="#" class="alert-link">Normative sulla Privacy</a>. Clicca per
      saperne di più
    </div>
    <div class="col-12">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!laForm.valid"
        routerLink="/pagamento"
      >
        Registrati
      </button>
    </div>
  </form>
</div>
