<div class="row-cols-1">
  <form class="row g-3">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control is-valid"
        id="validationServer01"
        value=""
        required
      />
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Cognome</label>
      <input
        type="text"
        class="form-control is-valid"
        id="validationServer02"
        value=""
        required
      />
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control is-invalid"
          id="validationServerUsername"
          aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
          required
        />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Email non valida
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">Citta</label>
      <input
        type="text"
        class="form-control is-invalid"
        id="validationServer03"
        aria-describedby="validationServer03Feedback"
        required
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Scegli una citta esistente
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label">Stato</label>
      <select
        class="form-select is-invalid"
        id="validationServer04"
        aria-describedby="validationServer04Feedback"
        required
      >
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div id="validationServer04Feedback" class="invalid-feedback">
        scegli uno stato esistente.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer05" class="form-label">CAP</label>
      <input
        type="text"
        class="form-control is-invalid"
        id="validationServer05"
        aria-describedby="validationServer05Feedback"
        required
      />
      <div id="validationServer05Feedback" class="invalid-feedback">
        Scegli un CAP valido.
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input is-invalid"
          type="checkbox"
          value=""
          id="invalidCheck3"
          aria-describedby="invalidCheck3Feedback"
          required
        />
        <label class="form-check-label" for="invalidCheck3">
          Accetta i termini di condizione
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          Devi accettare i termini prima di registrati
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Registrati</button>
    </div>
  </form>
</div>
