<div class="slider-container">
  <button class="slider-button prev" (click)="precedente()">&#10094;</button>

  <div class="slider">
    <div class="slider-wrapper">
      <div
        class="slide"
        *ngFor="let image of images; let i = index"
        (click)="vaiAllaCategoria(i)"
      >
        <img [src]="image" alt="Slide Image" />
        <button class="slide-button">Scopri di più</button>
      </div>
    </div>
  </div>

  <button class="slider-button next" (click)="successivo()">&#10095;</button>
</div>
