<h3>Carrello</h3>
<div class="d-flex justify-content-between">
  <div
    class="card"
    style="width: 18rem"
    *ngIf="serviziservice.prodottiACarrello.length > 0"
  >
    <span *ngFor="let p of serviziservice.prodottiACarrello">
      <img class="img-fluid" [src]="p.prodotto.immagine" />
      <div class="card-body">
        <h5 class="card-title">{{ p.prodotto.nome }}</h5>
        <p class="card-text">{{ p.prodotto.prezzo | currency }}</p>
        <p class="card-text">{{ p.taglia }}</p>
        <p class="card-text">{{ p.colore }}</p>

        <button
          class="btn btn-danger"
          (click)="
            serviziservice.rimuoviDaCarrello(p.prodotto.id, p.colore, p.taglia)
          "
        >
          <i class="bi bi-cart-dash"></i>
        </button>
      </div>
    </span>
  </div>

  <div class="ms-3" style="width: 500px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Riepilogo ordine</h5>
        <p class="card-text">Subtotale: {{ totalePrezzo | currency }}</p>
        <p class="card-text">Costi di spedizione previsti: $5,00</p>
        <p class="card-text">Totale: {{ totalePrezzo + 5 | currency }}</p>
        <a href="" routerLink="/pagamento" class="btn btn-secondary"
          >Vai al pagamento</a
        >
      </div>
    </div>
  </div>
</div>
