<div class="card mb-3">
  <img
    src="https://static1.squarespace.com/static/5f08c0b60e4f1254b66f861c/5f08c183391ac620ebfd9c6a/5f0cc9382b692407d8293932/1600716046425/Screen+Shot+2020-07-13+at+1.55.02+PM.png?format=1500w"
    class="card-img-top"
    alt="..."
  />
</div>
<div id="text">
  <p>Nike Electric Pack</p>
  <h1>WIN ON AIR</h1>
  <p>Progetta per chi osa</p>
</div>

<app-slider-immagini
  [images]="[
    'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d05f6db4-45e8-4345-adba-0eb336d0978b/G.T.+HUSTLE+3+FP.png',
    'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/49545dac-67b5-4c49-b82f-83dcd07b375a/AIR+ZOOM+PEGASUS+41+OLY.png',
    'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/03ae1fa1-b497-4d21-92ac-ccdf7cb8cbe9/NIKE+COURT+ROYALE+2+NN.png',
    'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d066f8c9-ff24-4771-a206-fa381eb8f203/NIKE+FULL+FORCE+LO.png'
  ]"
></app-slider-immagini>

<br />
