<div class="container">
  <div id="galleria">
    <div id="immagini">
      <img
        *ngFor="let immagine of immagini"
        [src]="immagine"
        (mouseover)="onImageHover(immagine)"
        alt="Galleria"
      />
    </div>
    <div id="video">
      <video
        *ngFor="let video of videoGallery"
        [src]="video"
        (mouseover)="onVideoHover(video)"
        alt="Galleria Video"
        class="galleria-video"
        muted
      ></video>
    </div>
  </div>

  <div id="content">
    <div id="media-principale">
      <ng-container *ngIf="isVideo; else imageTemplate">
        <video
          [src]="mediaPrincipale"
          controls
          autoplay
          class="video-principale"
        >
          Your browser does not support the video tag.
        </video>
      </ng-container>
      <ng-template #imageTemplate>
        <img [src]="mediaPrincipale" alt="Immagine principale" />
      </ng-template>
    </div>

    <div id="info">
      <h1>{{ prodotto?.nome }}</h1>
      <p>{{ prodotto?.descrizione }}</p>
      <strong
        ><p>{{ prodotto?.prezzo | currency }}</p></strong
      >

      <div class="form-group" [ngClass]="{ 'red-border': !coloreSelezionato }">
        <label for="colore">Seleziona colore</label>
        <select
          id="colore"
          class="form-control"
          [(ngModel)]="coloreSelezionato"
          (change)="selezionaColore($event)"
        >
          <option *ngFor="let c of colori" [value]="c">{{ c }}</option>
        </select>
        <small *ngIf="!coloreSelezionato" class="text-danger"
          >Seleziona un colore.</small
        >
      </div>

      <div class="form-group" [ngClass]="{ 'red-border': !tagliaSelezionata }">
        <label for="taglia">Seleziona misura</label>
        <select
          id="taglia"
          class="form-control"
          [(ngModel)]="tagliaSelezionata"
          (change)="selezionaTaglia($event)"
        >
          <option *ngFor="let t of taglie" [value]="t">{{ t }}</option>
        </select>
        <small *ngIf="!tagliaSelezionata" class="text-danger"
          >Seleziona una taglia.</small
        >
      </div>

      <div id="button">
        <button class="btn btn-primary" (click)="addToCart()">
          Aggiungi al carrello
        </button>

        <div
          id="notifica-carrello"
          class="notifica-carrello"
          *ngIf="notificaVisibile"
        >
          <img
            [src]="mediaPrincipale"
            alt="Immagine prodotto"
            class="notifica-immagine"
          />
          <div class="notifica-dettagli">
            <p>{{ prodotto?.nome }} aggiunto al carrello!</p>
            <p>Colore: {{ coloreSelezionato }}</p>
            <p>Taglia: {{ tagliaSelezionata }}</p>
            <p>Prezzo: {{ prodotto?.prezzo | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
